<br>
<b>Users</b>

<LinkTo
  @params={{array "users.add"}}
  class="btn btn-primary"
  data-test-link="users.add"
>
  add
</LinkTo>

<table
  class="table"
  data-test-table="users"
>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>E-Mail</th>
      <th>Mobil</th>
      <th>City</th>
      <th>Zip Code</th>
    </tr>
    <tr>
      <th><input size="8" oninput={{action (mut filterFirstName) value="target.value"}}></th>
      <th><input size="8" oninput={{action (mut filterLastName) value="target.value"}}></th>
      <th></th>
      <th></th>
      <th><input size="8" oninput={{action (mut filterCity) value="target.value"}}></th>
      <th><input size="3" oninput={{action (mut filterZipCode) value="target.value"}}></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.pagedItems as |user|}}
      <tr data-test-user={{user.id}}>
        <td data-test-column="firstname">
          {{user.firstName}}
        </td>
        <td data-test-column="lastname">
          {{user.lastName}}
        </td>
        <td data-test-column="email">
          {{user.email}}
        </td>
        <td data-test-column="mobil">
          {{user.mobil}}
        </td>
        <td data-test-column="city">
          {{user.city}}
        </td>
        <td data-test-column="zipcode">
          {{user.zipCode}}
        </td>
        <td>
          <LinkTo
            @params={{array "user.edit" user.id}}
            class="btn btn-primary"
            data-test-button="edit"
          >
            edit
          </LinkTo>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<p>
  Erste {{this.pagedItems.length}} von {{this.filteredItems.length}} Datensätzen. Für weitere Datensätze bitte Filter genauer machen.
</p>
{{outlet}}
