<h1>Users</h1>

<LinkTo
  @params={{array "users.add"}}
  class="btn btn-primary"
  data-test-link="users.add"
>
  User add
</LinkTo>

<table
  class="table"
  data-test-table="users"
>
  <thead>
    <tr>
      <th>Firstname</th><!-- add here click on - to use sort function ASC DESC -->
      <th>Lastname</th>
      <th>E-Mail</th>
      <th>Mobil</th>
      <th>City</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model as |user|}}
      <tr data-test-user={{user.id}}>
        <td data-test-column="firstname">
          {{user.firstName}}
        </td>
        <td data-test-column="lastname">
          {{user.lastName}}
        </td>
        <td data-test-column="email">
          {{user.email}}
        </td>
        <td data-test-column="mobil">
          {{user.mobil}}
        </td>
        <td data-test-column="city">
          {{user.city}}
        </td>
        <td>
          <LinkTo
            @params={{array "user.edit" user.id}}
            class="btn btn-primary"
            data-test-button="edit"
          >
            edit
          </LinkTo>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}
