<BsNavbar as |navbar|>
  <div class="navbar-header">
    <navbar.toggle />
    <a class="navbar-brand" href="/">my frirst API</a>
  </div>

  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item>
        <nav.link-to @params={{array "users"}}>Users</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @params={{array "movies"}}>Movies</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @params={{array "projects"}}>Projects</nav.link-to>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>

<hr>


<div class="container">

  {{#if session.isAuthenticated}}
    <button {{action "invalidateSession"}}>Logout</button>
  {{else}}
    {{#link-to "login"}}Login{{/link-to}}
  {{/if}}

  {{outlet}}
</div>