<table data-test-table="users">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>E-Mail</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model as |user|}}
      <tr data-test-user={{user.id}}>
        <td data-test-column="first-name">
          {{user.firstName}}
        </td>
        <td data-test-column="last-name">
          {{user.lastName}}
        </td>
        <td data-test-column="email">
          {{user.email}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}